$white:#FFFFFF;
$gradient: linear-gradient(213.29deg, #FC74FF 2.24%, rgba(69, 17, 193, 0.25) 55.14%), linear-gradient(317.32deg, #00D1FF 3.83%, rgba(103, 8, 227, 0.25) 58.58%), #28007D;


$XS: 400px;
$S: 576px;
$M: 768px;
$L: 992px;
$XL: 1200px;
$XXL: 1450px;