.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  height: 72px;
  width: calc(20% - 4px);
  min-width: 156px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}